<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "L'équipe", team_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link"%>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <div class="mt-5 text-center">
    <h1>Une super équipe soudée</h1>
  </div>
    <div class="row mt-5">
      <div class="col-sm-4 text-center">
        <div class="card border-warning mb-3" style="border-width: 3px;">
          <div class="card-body">
            <img src="<%=Faker::Avatar.image%>" class="img-thumbnail">
            <h3 class="card-title pt-3">Agnès</h3>
            <p class="card-text"> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="card border-warning mb-3" style="border-width: 3px;">
          <div class="card-body">
            <img src="<%=Faker::Avatar.image%>" class="img-thumbnail">
            <h3 class="card-title pt-3">Lucile</h3>
            <p class="card-text"> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="card border-warning mb-3" style="border-width: 3px;">
          <div class="card-body">
            <img src="<%=Faker::Avatar.image%>" class="img-thumbnail">
            <h3 class="card-title pt-3">Raphaël</h3>
            <p class="card-text"> </p>
          </div>
        </div>
      </div>
  </div>
</div>